<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/get-task.css">
    <title>Tarefa</title>
</head>
<body>
    
    <h1>Pesquisar Tarefa</h1>

    <section>
        <nav>
          <form method="post" onsubmit="alertMessageGet()">
            <label>Id Tarefa: </label>
            <input type="text" name="id_tarefa" />
  
            <input type="submit" value="Enviar" />
          </form>
        </nav>
    </section>

    <section class="button">
      <a href="http://192.168.0.10:5000">Voltar</a>
    </section>

    <script src="/static/assets/js/alert-messages.js"></script>
</body>
</html>
