<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/home.css">
    <title>Home</title>
</head>
<body>
    <h1>Gerenciador de Tarefas</h1>

    <section class="urls">
        <nav>
            <h2><a href="http://192.168.0.10:5000/tasks/">Todas Tarefas</a></h2>
        </nav>

        <nav>
            <h2><a href="http://192.168.0.10:5000/get-task/">Pesquisar Tarefa</a></h2>
        </nav>

        <nav>
            <h2><a href="http://192.168.0.10:5000/post-task/">Incluir Tarefa</a></h2>
        </nav>

        <nav>
            <h2><a href="http://192.168.0.10:5000/put-task/">Alterar Status da Tarefa</a></h2>
        </nav>

        <nav>
            <h2><a href="http://192.168.0.10:5000/delete-task/">Excluir Tarefa</a></h2>
        </nav>
    </section>

</body>
</html>