<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/task.css">
    <title>Tarefa {{ task.id_tarefa }}</title>
</head>
<body>

    <section class="task">
        <ul>
            <li>Id Tarefa: {{ task.id_tarefa }}</li>
            <li>Responsável: {{ task.pessoa.nome_pessoa }}</li>
            <li>Tarefa: {{ task.nome_tarefa }}</li>
            <li>Status: {{ task.status }}</li>
        </ul>
    </section>

    <section class="button">
      <a href="http://192.168.0.10:5000/get-task/">Voltar</a>
    </section>

</body>
</html>